.mtable {
  width: 100%;
  border: 10px solid black;
  background-color: black;
}
.heading {
  border: 1px solid black;
  color: white;
  padding-left: 15px;
}
.tabletext {
  color: white;
  font: ;
}

.tableimg {
}
.tabledata {
  width: 15%;
}
